
body{
    background: #1F2937;
}

h2{
    text-align: center;
    padding: 2rem;
}
.bold-text{
    font-size: 2rem;
    font-weight: 900;
    color: white;
    letter-spacing: 1px;

}

button{
    border-radius: 30px;
}
.bolder-text{
    font-size: 3rem;
    color: white;
    font-weight: 900;
    margin-bottom: 0;
}
.text{
    color: white;
    font-size: 1.5rem;

}

#headline-text{
    font-size: 2rem;
    font-weight: 900;
}

.black-text{
    color: black;
    padding: 1rem;
    font-size: 1.25rem;
}
.link{
    color: white;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 1px;
}
.signup{
    background-color: aqua;
    padding: 0.5rem 1rem;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

#main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 5rem;

}

#section-body{
    background-color: antiquewhite;
    padding-bottom: 5rem;

}
#doge-flavor{
    margin:  1rem 1rem 1rem 5rem;
}

#more-doge{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
img{
    max-width: 20vw;
    max-height: 20vh;
}
#main-doge{
    max-width: 90%;
    max-height: 75%;
}
#good-doge{
    display: flex;

    align-items: center;
    justify-content: center;
    max-width: 50%;
}

#links{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-size: 1.25rem;
}

.doge-img{
    display: flex;
    align-self: center;
    justify-content: center;

}

#quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    font-style: italic;

    background: #E5E7EB;
}

#doge-quote{
    font-size: 2rem;
}

#section-three{
    display: flex;
    align-items: center;
    justify-content: center;


    background-color: white;
}

#prompt-container{

    border-radius: 1.75rem;
    padding: 0.5rem 8rem;
    margin: 4rem;
    background-color: blue;
}

#container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

#left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    
}

#right-side{
    display: flex;
    align-self: center;
    justify-content: center;
}

#footer{
    text-align: center;
    margin: 3rem;
}

#quoter{
    font-style: normal;
    font-size: 1.5rem;
}